.product-detail {
    padding-top: 100px;
}
.product-detail .crumb li a {
    color: var(--secondary-color);
    font-size: 20px;
}
.product-detail .crumb li.active a {
    color: var(--primary-color);
}
.product-img .main-img {
    margin-bottom: 20px;
}
.product-img .main-img img {
    border-radius: 8px;
}

.product-img .sub-img:hover img {
    filter: blur(0px);
    box-shadow: var(--primary-color) 0px 8px 24px;
}
.product-img .sub-img img {
    border-radius: 8px;
    filter: blur(1px);
    transition: 0.5s;
}
.descrip {
    margin-top: 150px;
    color: var(--secondary-color);
}
.descrip .title {
    color: var(--primary-color);
}
.descrip .content {
    margin-bottom: 50px;
    font-weight: 300;
}
.descrip .content ul {
    list-style: circle;
    display: flex;
    flex-wrap: wrap;
}
.descrip .content ul li {
    width: 50%;
    font-size: 26px;
    font-weight: 600;
}
.right {
    padding-left: 40px;
}
.right .title {
    margin-bottom: 20px;
    color: var(--secondary-color);
}

.right .subtitle {
    justify-content: space-between;
    font-size: 14px;
    color: var(--secondary-color);
}

.right .subtitle ul li {
    margin-right: 14px;
}
.right .subtitle ul li:first-child {
    background-color: var(--primary-color);
    color: black;
    padding: 4px 10px;
    border-radius: 4px;
}
.right .subtitle .price {
    color: var(--primary-color);
    margin-top: 20px;
    margin-bottom: 50px;
    padding-top: 10px;
    position: relative;
}
.right .subtitle .price::before {
    position: absolute;
    content: "";
    height: 1px;
    width: 100%;
    top: -7px;
    left: 0px;
    background-color: var(--primary-color);
}
.right .subtitle .price h4 {
    font-size: 38px;
}
.right .car-info {
    background-color: var(--secondary-color);
    padding: 20px;
    border-radius: 8px;
    width: 70%;
    margin: 0 auto;
    margin-top: 50px;
}
.right .car-info .left2 p {
    font-weight: 600;
    color: black;
}
.right .car-info .right2 {
    font-weight: 300;
    color: black;
}
.right .btn {
    width: 100%;
    margin: 0 auto;
    margin-top: 20px;
}
.right .btn button {
    padding: 10px 100px;
    font-size: 18px;
    background-color: red;
    color: var(--secondary-color);
    border-radius: 8px;
    outline: none;
    border: none;
    transition: 0.5s;
}
.right .btn button:hover {
    background-color: var(--primary-color);
}
.right .btn button:nth-child(2) {
    border: 1px solid var(--primary-color);
    background-color: rgba(255, 166, 0, 0.405);
    width: 40%;
    margin: 0 auto;
    margin-top: 20px;
}
.right .special {
    margin-top: 30px;
}

.right .special .title {
    color: var(--secondary-color);
}
.right .special .title h4 {
    width: 30%;
    padding-bottom: 10px;
    border-bottom: 1px solid var(--primary-color);
}
.right .special .text ul {
    list-style: circle;
    color: var(--secondary-color);
    margin-left: 20px;
}
.right .special .text ul li {
    font-size: 20px;
}
.right .special .text span {
    color: var(--primary-color);
    text-decoration: underline;
}
.relate .product-card .card-img {
    position: relative;
    overflow: hidden;
}
.relate .title {
    color: var(--primary-color);
    margin-bottom: 20px;
    margin-top: 50px;
}
.relate .product-card {
    text-align: center;
}
.relate .product-card .card-title {
    color: black;
    border-bottom: 1px solid grey;
    padding-bottom: 10px;
}
.relate .product-card .card-subtitle {
    justify-content: space-between;
    font-size: 14px;
}
.relate .product-card .card-subtitle ul li {
    margin-right: 14px;
    color: black;
}
.relate .product-card .card-subtitle ul li:first-child {
    background-color: var(--primary-color);
    padding: 4px 10px;
    border-radius: 4px;
}
.relate .product-card .card-subtitle .price {
    color: var(--primary-color);
    margin-top: 10px;
    position: relative;
}
.relate .product-card .card-subtitle .price::before {
    position: absolute;
    content: "";
    height: 2px;
    width: 50px;
    top: -7px;
    left: 114px;
    background-color: var(--primary-color);
}
.relate .product-card .card .tag {
    position: absolute;
    top: 20px;
    left: 10px;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    padding: 5px 10px;
}
.relate .product-card .card-img img {
    width: 320px;
    height: 200px;
    object-fit: cover;
}
.form {
    background-color: var(--secondary-color);
    padding: 50px;
    padding-bottom: 0px;
}
.form .info {
    margin-top: 20px;
}
.form .info input {
    display: block;
    width: 100%;

    margin-bottom: 10px;
    padding: 10px 20px;
    border-radius: 8px;
    outline: none;
}
.form .title {
    color: var(--primary-color);
}
.form .subtitle {
    color: black;
    margin-bottom: 30px;
}
.form .info .row {
    margin-bottom: 20px;
}
.form .info .row:last-child {
    margin-bottom: 10px;
}
.form .img {
    width: 50%;
    margin-top: -90px;
}

.form button {
    padding: 10px 40px;
    margin-top: 0px;
    margin-bottom: 50px;
    border-radius: 8px;
    border: none;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    transition: 0.5;
}
.form button a {
    color: var(--secondary-color);
}
.form button:hover {
    filter: grayscale(0.2);
}
.error {
    margin-bottom: 30px;
}
.error h4 {
    color: var(--primary-color);
}
.popup {
    position: absolute;
    top: 0;
    background-color: rgba(147, 147, 147, 0.393);
    width: 100%;
    height: 100%;
    z-index: 6;
    opacity: 0;
    visibility: hidden;
    transition: 0.5s;
}
.popup.active {
    visibility: visible;
    opacity: 1;
}
.popup-content {
    position: absolute;
    overflow: hidden;
    background-color: var(--primary-color);
    width: 70%;
    top: 200px;
    left: 240px;
    text-align: center;
    padding: 50px;
    color: var(--secondary-color);
    z-index: 7;
}

.popup i {
    font-size: 40px;
}
.popup h4 {
    color: rgb(44, 44, 44);
    font-weight: 400;
}
.popup .text {
    z-index: 2;
}
.popup img {
    position: absolute;
    width: 60%;
    top: -30px;
    right: -120px;
    opacity: 0.5;
    z-index: 1;
}
.popup .btn button {
    background-color: var(--secondary-color);
    color: var(--primary-color);
    padding: 10px 20px;
    border: none;
    border-radius: 8px;
}
